Brian2==2.5.4
elephant==1.0.0
h5py
IPFX
joblib==1.2.0
matplotlib==3.7.2
neo==0.13.0
networkx==3.1
nevergrad==1.0.0
numpy>=1.20.1
pandas==2.0.3
POT==0.9.3
pyabf==2.3.8
quantities==0.15.0
sbi==0.21.0
scikit_optimize==0.9.0
scipy==1.11.1
torch==2.1.0
